/*-------------------------------------------
ページ全体のレイアウト
-------------------------------------------*/
body {
    text-align: center;
    padding: 5rem;
}

/* 解説 
ページ全体のレイアウトなので
モーダルウインドウに直接の影響はありません。
text-alignで中央揃え
*/

h1,
p {
    margin-bottom: 2rem;
}

/*-------------------------------------------
オープン＆クローズボタンのレイアウト
-------------------------------------------*/
#open,
#close {
    background: #EFEBE1;
    border: 3px solid #000;
    border-radius: .9rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

/* 解説 
openボタンは常時表示されていて
closeボタンはopenボタンクリック後に表示されます
背景色・余白・角の丸み・カーソル変更
*/

/*-------------------------------------------
クリック後背景色変更
-------------------------------------------*/
#mask {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    inset: 0;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
}

/* 解説 
JavaScriptのクリックイベント時に背景を薄暗くします
    マスクの背景色と透明度を設定
    background: rgba(0, 0, 0, .6);

    マスクを画面全体に固定配置
    position: fixed;
    inset: 0;

    表示順序を設定 
    z-index: 9998;

    マスクの透明度を初期化→JavaScriptのクリックイベントで透明解除されます
    opacity: 0;

    マスクを非表示状態に設定→JavaScriptのクリックイベントで表示状態にされます
    visibility: hidden;
*/


/*-------------------------------------------
クリック後のモーダルウインドウのレイアウト
-------------------------------------------*/
#model {
    /* 背景色を設定 */
    background: #fff;
    /* 内側の余白を設定 */
    padding: 2rem;
    /* モーダルウインドウの角を丸くする */
    border-radius: .5rem;
    /* モーダルウインドウを中央に配置 */
    margin: auto;
    /* モーダルウインドウを画面に固定配置 */
    position: absolute;
    /* モーダルウインドウの配置を調整 */
    inset: 10rem 0 auto;
    /* 最大幅を設定 */
    max-width: 36rem;      
    /* 表示順序を設定→#maskは9998なのでmodelが優先的に上になる */
    z-index: 9999;
    /* モーダルウインドウの透明度を初期化→JavaScriptのクリックイベントで透明解除されます */
    opacity: 0;
    /* モーダルウインドウを非表示状態に設定→JavaScriptのクリックイベントで表示状態にされます */
    visibility: hidden;
}

/* 解説 
position: absolute;で絶対指定すると直前の要素openの左下からスタートするのと
relativeが指定されていないため
inset: 10rem 0 auto;で、ビューポートに対して上10rem→左右0→下autoで指定される
max-width: 36rem;で幅が36remになる→insetで左右0なので左に寄ってしまう
margin: auto;で中央配置する
*/
